version: "3.9"

volumes:
  postgres-data-test:
  redis-data-test:

services:
  postgres:
    image: postgres:16
    container_name: postgres-test
    environment:
      POSTGRES_USER: test
      POSTGRES_PASSWORD: test
      POSTGRES_DB: test_db
    ports:
      - "5433:5432"
    volumes:
      - postgres-data-test:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U test"]
      interval: 5s
      timeout: 5s
      retries: 5

  redis:
    image: redis:8
    container_name: redis-test
    ports:
      - "6380:6379"
    command: redis-server --save "" --appendonly no
    volumes:
      - redis-data-test:/data

  app-test:
    image: node-ts-rest-api:test
    container_name: app-test
    build:
      context: .
      target: test
    env_file:
      - .env.test
    depends_on:
      postgres:
        condition: service_healthy
      redis:
        condition: service_started
